Thank you @krausi24 for this issue. I will look into this and get back here soon

I need to mention that this issue applies only to Ansible running in WSL2!

I hit the exact same issue here, but not in a WSL2 environment as @krausi24 experienced.  Running Ubuntu 22.04.3 w/ ansible [core 2.15.4] and NS13.1 37.38.nc.  As a workaround, I followed the suggestion above of modifying the SSL profile on my NSIP.

Just FYI, this is not specific to the Ansible modules. The "ALL" option to "Deny SSL Renegotiation" is improperly implemented in Netscaler and leads to a total absence of the Renegotiation Indication Extension ([RFC 5746](https://www.rfc-editor.org/rfc/rfc5746)) in the ServerHello.

A quick analysis of what happens during a handshake with a Netscaler where "Deny SSL Renegotiation" is "ALL":
1. Client sends `ClientHello` with `TLS_EMPTY_RENEGOCIATION_INFO_SCSV`
From [RFC 5746 § 3.4: Client Behavior: Initial Handshake](https://www.rfc-editor.org/rfc/rfc5746#section-3.4):
> The client MUST include either an empty "renegotiation_info"
> extension, or the TLS_EMPTY_RENEGOTIATION_INFO_SCSV signaling
> cipher suite value in the ClientHello.  Including both is NOT
> RECOMMENDED.
2. Netscaler sends `ServerHello` without `renegotiation_info` extension
From [RFC 5746 § 3.6: Server Behavior: Initial Handshake](https://www.rfc-editor.org/rfc/rfc5746#section-3.6):
> o  When a ClientHello is received, the server MUST check if it
>      includes the TLS_EMPTY_RENEGOTIATION_INFO_SCSV SCSV.  If it does,
>      set the secure_renegotiation flag to TRUE.
> [...]
> o  If the secure_renegotiation flag is set to TRUE, the server MUST
>      include an empty "renegotiation_info" extension in the ServerHello
>      message.
3. Client terminates handshake because of insecure server
From [RFC 5746 § 3.4: Client Behavior: Initial Handshake](https://www.rfc-editor.org/rfc/rfc5746#section-3.4):
> If the extension is not present, the server does not support 
> secure renegotiation; set secure_renegotiation flag to FALSE.
> In this case, some clients may want to terminate the handshake
> instead of continuing; [...]

OpenSSL 3.0 switched to rejecting legacy (pre-2010) TLS implementations ; sadly Netscaler identifies as one when "Deny SSL Renegotiation" is "ALL" (the default). The Netscaler TLS stack needs fixing, there is nothing the `netscaler.adc` collection can do for you except maybe offer a way to bypass proper security checks.

Side note: DO NOT set "Deny SSL Renegotiation" to "NO".
This leads to legacy renegotiation being globally enabled, secure or not (again, insecure TLS renegociation is 14-years old at this time).

"NONSECURE" or "FRONTEND_CLIENT" are much better options though they remain workarounds for a non RFC5746 compliant TLS stack.